/* Page Layout */

html {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

h1,
h2,
h3,
nav > ul > li {
  font-family: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: whitesmoke;
}

/* Font Styling */

#about > a:nth-child(5) > img {
  position: absolute;
  margin-left: 770px;
  margin-top: -65px;
}
#index_li,
#index_git {
  width: 50px;
  margin-top: -70px;
}

#index_git {
  border-radius: 100%;
  position: absolute;
  margin-left: 850px;
}

h1 {
  font-size: 48px;
  color: rgb(13, 132, 202);
}

h2 {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(13, 132, 202);
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(13, 132, 202);
}
body > ul:nth-child(9) {
  columns: 2;
  min-width: 100px;
}
body > h2:nth-child(3) {
  margin-top: 0px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul {
  list-style: circle;
  margin: 10px 0px 30px 30px;
}

nav > ul {
  margin: 0px;
}

body > div {
  columns: 2;
  column-span: all;
}

li {
  font-size: 18px;
  margin: 5px 0;
}

body > h3.bold_h3 {
  display: inline;
  font-weight: bold;
}

body > h3.italic_h3 {
  display: inline;
  font-style: italic;
}
body > h3 {
  display: inline;
}
body > h4 {
  font-size: 22px;
  margin-top: 15px;
}

#projects > a > img {
  position: relative;
  left: 93%;
  margin-top: -50px;
  width: 50px;
  margin-bottom: 10px;
  border-radius: 100%;
  background-color: none;
  transition: background-color 100ms linear;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
}

#projects > a > img:hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 100ms linear;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
}

#about > a > img {
  width: 64px;
  background-color: none;
  transition: background-color 100ms linear;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
}

#about > a > img:hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 100ms linear;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
}

#projects > ul,
#projects > ol {
  margin-top: -25px;
}

body > a {
  font-style: italic;
  font-size: 18px;
  color: rgb(41, 40, 40);
  margin-top: 10px;
}

nav {
  border-radius: 2px;
  margin-top: 10px;
  height: fit-content;
  margin-bottom: 10px;
}

nav > ul {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

body > p > em {
  line-height: 1.5;
}

nav > ul > li {
  display: inline-block;
  transition: background-color 200ms linear;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  margin: 0px 0px 0px 0px;
  vertical-align: middle;
  border-radius: 10px;
  background-color: rgba(13, 132, 202, 0.1);
}

body > nav > ul > li > a {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;
  display: inline-block;

  color: black;
  font-size: 24px;
  text-decoration: none;
}

body > nav > ul > li:hover {
  /* Transition animation: https://stackoverflow.com/questions/4411306/transition-of-background-color */
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  transition: color 100ms linear;
}

iframe {
  width: 100%;
  margin-left: auto;
  align-self: center;
  height: 400px;
  margin-bottom: 30px;
}
/* 
#contact,
#about,
#projects {
  width: 80%;
  margin-left: 96px;
} */
#about > p,
#contact > p,
#projects > p {
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 18px;
}

#projects > h3 {
  font-size: 30px;
}

hr {
  width: 100%;
}

#projects > a {
  font-style: italic;
  color: rgb(41, 40, 40);
  margin-bottom: 10px;
}

#projects > h3 {
  margin-top: 30px;
}

#projects > figure > img {
  width: 100%;
}

#projects > figure > figcaption {
  font-style: italic;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
}

#projects > ol {
  margin-left: 30px;
  list-style: decimal;
  line-height: 1.5;
}

#projects > ul {
  line-height: 1.5;
}

body {
  padding: 15px;
  background-color: rgb(230, 230, 230);
  border-width: 5px;
  border-color: rgb(190, 190, 190);
  border-style: solid;
  border-radius: 3px;
}
